<?xml version="1.0"?>
<robot name="leap_hand" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:arg name="leap_mesh_dir" default="./leap_hand/meshes/" />

    <xacro:include
        filename="$(find my_robot_description)/urdf/leap_hand/leap_hand_custom_tac3d.urdf.xacro" />
    <xacro:leap_hand_custom_tac3d mesh_dir="$(arg leap_mesh_dir)" />

</robot>